

<div th:fragment="top-nav">
    <ul class="nav">
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/}">

                Index
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/customer/all}">
                customers
            </a>
        </li>
        <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/staff/all}">

                Staffs
            </a>
        </li>
    </ul>
</div>